@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: Montserrat, Helvetica Neue, sans-serif;
	background-color: #14161a;
	color: #fff;
}

a {
	color: gold;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
